:root{
  --head-color: #242424;
  --w-color:#ffffff;
  --p-color:#fb5c9a;
  --o-color:#ffa048;
  --n--color:#1c3866;
  --b--color:#40a9e8;
  --g--color:#60ae2b;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@300;400;700&display=swap'); /*'Noto Sans KR'*/


/* common */
body{font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 20px;
    color:var(--head-color); font-weight: 700;}
a{text-decoration: none; font-size: inherit; color: inherit;}
.inner{width: 1322px; margin: 0 auto;}
.flex{display: flex;}
.highLight{box-shadow: inset 0 -15px 0 var(--o-color);}

/* scroll */
body:-webkit-scrollbar {width: 10px;}
body:-webkit-scrollbar-thumb {
  background-color: #6667aa;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;}
body::-webkit-scrollbar-track {
  background-color: var(--w-color);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px var(--w-color);}

/* header */
.header,.gnb{display: flex;}
.header{justify-content: space-between; padding: 10px 20px;}
h1 img{width: 200px; height: 100px; object-fit: scale-down;}
.gnb{margin-top: 30px;}
.gnb a{padding: 0 20px; letter-spacing: 1px;
      font-size: 25px;
      color:var(--n--color);
      font-weight: 600;}
.gnb li a:hover{color: var(--w-color); transition: .5s;}

/* main */
.mainVisual{max-width: 100%; height: 1000px; position: relative; top: -125px; 
            overflow: hidden; margin: 0px auto; z-index: -1;}
video{width: 100%;}
.mainVisual .text{position: absolute; top: 50%; left: 50%;
                  transform: translate(-50%, -50%);
                  color:var(--w-color); 
                  font-family:'Noto serif KR';
                  font-size: 100px;}

/* section common*/
section{font-weight: 600;}
h2{font-size: 40px; color:var(--n--color); font-weight: bolder; letter-spacing: 3px;}
h2:before{content:"";
          margin: 0px 10px 0 0;
          display: inline-block;
          background: var(--p-color);
          width: 10px; height: 40px;}

/* section1 :: profile */
#section1{padding-bottom: 150px; position: relative;}
#section1 p img{display: inline-block; width: 300px; height: 300px; border-radius: 50%;
                margin: 0 20px;}
.intro{padding: 80px 20px; font-size: 30px; line-height: 50px;}
.intro .highLight{font-size: 40px; letter-spacing: 3px;}
.intro .highLight:hover{box-shadow: inset 0 -15px 0 var(--p-color); transition: 0.3s;}
.toktok{margin: 40px 0 60px 126px; line-height: 72px; text-align: right;}
.toktok span{color:var(--n--color); font-weight: bold; font-size: 35px;
            box-shadow: inset 0 -15px 0 var(--p-color);}
            
/* section2 :: Portfolio */
/* common */
#section2 h3{text-align: center; font-size: 40px; margin-top: 30px;}
#section2 h4,#section2 p{text-align: center;}
/* web */
#section2{position: relative; padding-bottom: 100px;}
.web{padding-bottom: 100px;}
.title{height: 250px;}
.web h4{background: var(--p-color); width: 550px; height: 50px;
        font-size: 40px; color: var(--w-color);
        margin: 50px auto 30px;}
.web p{margin-bottom: 50px; letter-spacing: 3px; display: none;}
.web ul{justify-content: space-around;}
.web li img{width: 400px; height: 600px;
            object-fit: cover; object-position: 0 0;
            border-radius: 10px;}
.web li:hover img{transition: .5s; filter: brightness(50%);}
.web .flex li{position: relative;}
.web .flex i{display: none;}
.web .flex:hover i{display: show;
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  transition: .8s;; font-size: 80px;
  color: var(--w-color); text-shadow: 1px 1px 5px rgb(88, 88, 88);}
/* reWeb */
.reWeb{position: relative; padding-bottom: 100px;}
.reWeb h4{background: var(--g--color); width: 305px; height: 52px;
          font-size: 40px; color: var(--w-color);
          margin: 50px auto 30px;}
.reWeb p{margin-bottom: 100px; letter-spacing: 3px;}
.bx-wrapper{margin: 0 auto;
            position: absolute; top: 500px; left: 600px;
            transform: translate(-50%,-50%);
            max-width: 600px;}
.update img{width: 715px; height: 380px;
            object-fit: cover; object-position: 0 0; z-index: 5;
            display: block; margin: 0 auto;
            border-radius: 5px 5px 0 0;}
.bx-controls{display: none;}
.bx-caption span{display: inline-block;
                font-size: 30px; text-align: center; line-height: 40px;
                position: relative;
                left: 50%; transform:translateX(-50%);
                width: 720px; height: 40px;
                background: var(--n--color); 
                color: var(--w-color);
                border-radius: 0 0 5px 5px;
                letter-spacing: 5px;}
.discription{margin-left: 120px; width: 500px; height: 500px;}
.box{position: absolute; top: 500px; right: 280px;}
.box h5{font-size: 35px;
       min-width:12px;
       white-space: nowrap;
       margin: 0;
       position: absolute;
       color: transparent;
       top: -40px;
       left: 200px;
       transform: translate(-50%, -50%);}
.box h5::before {
        content: "Q. 어떻게 리뉴얼 되었나요?";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        color: black;
        overflow: hidden;
        border-right: 1px solid black;
        animation: typing 8s steps(31) infinite;}
      @keyframes typing{
        0% {width: 0%;}
        50% {width: 100%;}
        100% {width: 0%;}
      }
.box li{line-height: 50px; margin: 20px 0;}
.box span{box-shadow: inset 0 30px 0 yellow;}
.box i{color: var(--o-color);}

.buttons{justify-content: center;}
.buttons a{display: inline-block; width: 150px; height: 50px;
          line-height: 50px; color: var(--g--color);
          outline: 2px solid var(--g--color);
          margin: 15px 20px;}
.buttons a:hover{color: var(--w-color); background: var(--g--color); transition: .3s;}
.discription:before{content: "";
                  position: absolute;
                  top: 230px;
                  background: url("../images/notepad.png") no-repeat 50% 50%/cover;
                  display: block;
                  width: 600px; height: 700px;
                  z-index: -10;}
.monitor{content: "";
  position: relative;
  top: 320px; left: 600px;
  transform: translate(-50%, -50%);
  display: block;
  width: 1000px; height: 700px;
  z-index: -10;
  filter: drop-shadow(5px 5px 5px rgb(88, 88, 88));} 

/* design */
.myDesign{padding-bottom: 100px;}
.myDesign h3{margin: 62px 0;}
.photo{margin-bottom: 20px;}
.myDesign img{width: 370px; height: 370px;
              object-fit: contain; object-position: 0 0;
              margin: 10px;}            
.photo,.illur{justify-content: center;}
.imgGroup{margin-bottom: 60px;} 
.button a{font-weight: bold; font-size: 25px; 
          margin: 0 auto; line-height: 62px; text-align: center;
          color: var(--o-color);
          border: 3px solid var(--o-color); border-radius: 40px;
          display: block; width: 166px; height: 62px;}
.button a:hover{background-color: var(--o-color); transition: .5s; color:var(--w-color);}

/* section3 :: Skills */
#section3{padding-bottom: 150px;}
#section3 p{margin-top: 30px;}
.skill_1,.skill_2{justify-content: center;}
.skills li{margin: 66px 63px 50px 63px;}
.skills img{width: 150px; height: 150px; object-fit: contain;}
.skills img:hover{transform: scale(1.2); transition: .5s;}
#section3 .highLight{box-shadow: inset 0 -8px 0 var(--o-color);}

/* section4 :: contact */
#section4{position: relative;}
.hellow{margin-top: 50px; text-align: center;}
.info li,.info li a{color: #7f7f7f; font-size: 18px; line-height: 30px;}
.info li a:hover{color:var(--o-color);}
#section4 .inner:nth-child(1) p{font-size: 25px; padding: 20px 0;}
.meet{position: absolute; top: 150px; left: 50%;
      transform: translateX(-50%);
      font-size: 30px; line-height: 40px; text-align: center;}
.meet strong{color:var(--p-color);}
.hellow img{position: absolute; top: 450px; left: 50%;
            transform: translate(-50%,-50%);}
.qr img{position: absolute;
        top: 250px; right: 446px;
        width: 155px; height: 155px;}
.qr:after{content: "";
          display: block;
          position: absolute;
          top: 170px; right: 370px;
          z-index: -5;
          background: url("../images/QR_background.png") no-repeat 0 0;
          width: 361px; height: 313px;}
.qr img,.qr:after{animation: motion 0.5s linear 0s infinite alternate;}
  @keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 10px;} /* 마지막 위치 */
}
#section4:after{content:"";
                display: block;
                position: relative;
                bottom: -250px;
                background: url("../images/design.png") no-repeat 100% 100% /cover;
                width: 100%; height: 500px;
                z-index: -999;}
                
/* topmenu */
.topMenu{position: fixed; bottom: 50px; right: 25px;
        filter: drop-shadow(0 0 0.5rem #4f4f84);}
.topMenu:hover{transform:rotate(90deg);
              transform:rotate(180deg);
              transform:rotate(270deg);
              transform:rotate(360deg);
              transition: .8s;}     
                
/* footer */
footer{position: relative;}
footer p{background-color:var(--n--color); color:var(--w-color); text-align: center;
        font-weight: lighter; height: 36px; line-height: 36px;
        width: 100%; font-size: 18px;
        position: absolute; top: 250px;}