:root {
    --nav-color: #444444;
    --main-color: #222222;
    --strong-color: #FFFFFF;
    --visual-color: #293F3A;

    --strong-size: 3.75rem; /*75px*/
    --info2s: 2.25rem; /*45px*/
    --date-size: 2.2rem; /*44px*/
    --h2-size: 2rem; /*40px*/
    --main-size: 1.5rem; /*30px*/
    --infop-size: 1.4rem; /*28px*/
    --normal-size: .95rem; /*19px*/
    --title-size: .9rem; /*18px*/
    --info-size: .85rem; /*17px*/
    --content-size: .8rem; /*16px*/
    --sdate-size: .75rem; /*15px*/
    --info2p: .7rem; /*14px*/
}

@font-face {
    font-family: 'adobe-garamond-pro';
    src: url('../font/Adobe-Garamond-Pro_2012.ttf') format('truetype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* common */
html,
body {
    font-size: 20px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #444444;
    font-size: .95rem;
}

h2 {
    font-family: 'Lora', serif;
    color: #444444;
}

a {
    text-decoration: none;
    color: #444444;
}

#skipNavi {
    display: none;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 40px 0 0 77px;
}

nav {
    display: flex;
    margin-right: 232px;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb li a {
    padding: 0 40px;
    font-size: var(--normal-size);
    font-weight: 500;
}

/* mainVisual */
.inner {
    width: 1202px;
    margin: 0 auto;
}

main {
    position: relative;
}

.main {
    background: url("../images/img_mainVisual.jpg") no-repeat 0 0;
    height: 937px;
    width: 100%;
    position: relative;
    top: -140px;
    z-index: -5;
}

.mainVisual {
    position: relative;
    left: 856px;
    top: 316px;
    background: url("../images/icon_mainVisual.png") no-repeat 0 0;
    width: 1026px;
    height: 646px;
}

/* counsulting */
.consulting {
    position: absolute;
    left: 360px;
    top: 328px;
    font-size: var(--main-size);
    line-height: 70px;
    letter-spacing: -1px;
    color: var(--main-color);
}

.consulting h2 {
    margin-bottom: 92px;
}

.consulting strong {
    display: block;
    font-size: var(--strong-size);
}

.consulting p a {
    display: block;
    width: 200px;
    height: 76px;
    line-height: 76px;
    background-color: var(--visual-color);
    border-radius: 38px;
    font-size: var(--title-size);
    color: var(--strong-color);
    padding-left: 40px;
    box-sizing: border-box;
}

.consulting p a:after {
    content: "";
    display: inline-block;
    background: url("../images/icon_btnArrow.png") no-repeat 0 0;
    width: 6px;
    height: 11px;
    margin-left: 50px;
    box-sizing: border-box;
}

/* fixed_memu - 좌측 고정 탭*/
.fixed_menu {
    position: fixed;
    left: 96px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.fixed_menu a {
    color: var(--nav-color);
    font-family: "adobe-garamond-pro";
    font-size: var(--content-size);
    font-weight: 700;
    padding: 7px 0;
}

.fixed_menu span {
    display: block;
    height: 2px;
    background: #434343;
    text-align: center;
}

.fixed_menu span:nth-child(2) {
    width: 44px;
    margin-top: 10px;
}

.fixed_menu span:nth-child(3) {
    width: 36px;
    margin: 7px 0;
}

.fixed_menu span:nth-child(4) {
    width: 44px;
    margin: 7px 0;
}

/* 무료자가진단 */
.autodiagnosis {
    text-align: center;
}

.autodiagnosis h2 {
    font-size: var(--h2-size);
    margin-bottom: 35px;
}

.autodiagnosis p {
    color: var(--main-color);
    font-size: var(--content-size);
    font-weight: 400;
}

.autodiagnosis .test_menu {
    display: flex;
    padding-top: 62px;
    width: 1280px;
    height: 180px;
}

.test_menu li {
    display: block;
    margin: 0 24px;
    width: 108px;
    box-sizing: border-box;
}

.test_menu li a:before {
    content: "";
    display: block;
    background: #f7f7f7 url("../images/icon_diagnosis01.png") no-repeat 50% 50%;
    width: 41px;
    height: 44px;
    padding: 40px;
    border-radius: 23px;
    transition: 0.5s;
}

.test_menu li:nth-child(2) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis02.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(3) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis03.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(4) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis04.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(5) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis05.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(6) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis06.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(7) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis07.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(8) a:before {
    background: #f7f7f7 url("../images/icon_diagnosis08.png") no-repeat 50% 50%;
}

.test_menu li a:hover:before {
    box-shadow: 6px 8px 27px rgb(41 63 58 / 38%);
    background: #293f3a url("../images/icon_diagnosis01-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(2) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis02-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(3) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis03-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(4) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis04-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(5) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis05-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(6) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis06-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(7) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis07-w.png") no-repeat 50% 50%;
}

.test_menu li:nth-child(8) a:hover:before {
    background: #293f3a url("../images/icon_diagnosis08-w.png") no-repeat 50% 50%;
}

.test_menu li span {
    width: 112px;
    letter-spacing: -1px;
    display: block;
    padding: 28px 0;
    font-weight: 600;
    font-size: var(--content-size);
    font-family: "adobe-garamond-pro";
}

/* mainContent */
.container {
    position: relative;
    background-color: #f8f8f8;
    display: flex;
    height: 682px;
    justify-content: center;
    margin-top: 142px;
}

.use,
.info {
    position: relative;
    top: -60px;
}

.use {
    display: flex;
    border: 1px solid #a8a8a8;
    background-color: #fff;
    border-radius: 11px 0 0 11px;
    height: 100px;
    width: 720px;
    box-sizing: border-box;
    border-right: none;
}

.use li {
    border-right: 1px solid #ebebeb;
    flex-grow: 1;
    position: relative;
}

.use li a {
    line-height: 100px;
    font-size: var(--info-size);
    font-weight: bolder;
    padding-left: 40px;
}

.use li a:last-child {
    width: 276px;
}

.use li a:after {
    content: "";
    position: absolute;
    right: 40px;
    top: 33px;
    display: block;
    background: #d0d0d0 url("../images/icon_arrow1.svg") no-repeat 50%;
    width: 30px;
    height: 30px;
    background-size: 6px 9px;
    border-radius: 50%;
}

/* notice */
.notice {
    position: relative;
    top: -20px;
    padding: 0 60px 0 44px;
}

.notice li div {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.notice li:last-child div {
    border-bottom: none;
}

/* date 왼쪽 */
.date {
    font-family: 'adobe-garamond-pro';
    color: #333;
    font-weight: bold;
    margin: 32px 44px 32px 0;
}

.date dt {
    font-size: var(--date-size);
    margin-bottom: 8px;
}

.date dd {
    font-size: var(--sdate-size);
}

/* text 오른쪽 */
.notice a {
    color: var(--nav-color);
}

.notice p {
    font-size: var(--title-size);
    margin-bottom: 18px;
    font-weight: 500;
}

.notice span {
    font-size: var(--content-size);
    display: inline-block;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* info */
.info,
.info2 {
    box-shadow: 50px 57px 68px rgb(38 38 38 / 11%);
}

.info {
    background: url("../images/img_info.jpg") no-repeat 0 0 /cover;
    width: 480px;
    height: 254px;
    color: #fff;
    border-radius: 0 23px 0 0;
    padding: 90px 0 0 44px;
    box-sizing: border-box;
}

.info p {
    margin-bottom: 8px;
    font-size: var(--content-size);
    font-family: 'adobe-garamond-pro';
    font-weight: 500;
}

.info h2 {
    color: #fff;
    line-height: 40px;
    font-size: var(--infop-size);
    font-weight: 400;
    letter-spacing: -1px;
}

/* info2 */
.info2 {
    position: relative;
    top: -60px;
    background: #fff;
    width: 480px;
    height: 390px;
    padding: 40px;
    box-sizing: border-box;
}

.info2>p {
    background: #293f3a;
    border-radius: 16.5px;
    width: 113px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: var(--info2p);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.info2 strong a {
    display: block;
    font-weight: 700;
    font-family: 'adobe-garamond-pro';
    font-size: var(--info2s);
    letter-spacing: 1px;
    margin: 8px 0 24px;
}

.info2 span {
    font-size: var(--sdate-size);
    line-height: 1.5;
    color: var(--nav-color);
    font-family: 'adobe-garamond-pro';
    font-weight: bold;
}

/* 상담안내, 네이버블로그 버튼*/
.btn {
    display: flex;
    margin-top: 55px;
    position: relative;
}

.btn li {
    width: 194px;
    height: 65px;
    font-size: var(--content-size);
    margin-right: 12px;
}

.btn li a {
    display: inline-block;
    width: 194px;
    height: 65px;
    padding-left: 30px;
    line-height: 65px;
    font-weight: 700;
    box-sizing: border-box;
}

.btn li:first-child a {
    border: 1px solid #d0d0d0;
    color: #666;
}

.btn li:last-child a {
    border: 1px solid #06be34;
    color: #06be34;
}

.btn li:first-child a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 236px;
    transform: translateY(-50%);
    background: url("../images/icon_arrow3.png") no-repeat 0 0;
    width: 6px;
    height: 9px;
}

.btn li:last-child a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 23px;
    background: url("../images/icon_naver.png") no-repeat 0 0;
    width: 25px;
    height: 25px;
}

/* 좌측 fixed 메뉴 */
.utilTab {
    position: fixed;
    right: 96px;
    bottom: 120px;
}

.utilTab li {
    padding-bottom: 10px;
}

.utilTab li a {
    font-size: var(--info2p);
    font-weight: bold;
    display: block;
    width: 58px;
    height: 58px;
    box-shadow: 2px 3px 13px rgb(0 0 0 / 10%);
    transition: 0.6s;
    border-radius: 50%;
    background-size: 16px;
}

.utilTab li:nth-child(1) a {
    background: #fff url("../images/icon_sideNav1.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(2) a {
    background: #fff url("../images/icon_sideNav2.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(3) a {
    background: #fff url("../images/icon_sideNav3.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(4) a {
    background: #fff url("../images/icon_sideNav4.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(5) a {
    background: #fff url("../images/icon_naver.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(1) a:hover {
    background: #978269 url("../images/icon_sideNav1-w.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(2) a:hover {
    background: #978269 url("../images/icon_sideNav2-w.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(3) a:hover {
    background: #978269 url("../images/icon_sideNav3-w.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(4) a:hover {
    background: #978269 url("../images/icon_sideNav4-w.png") no-repeat 50% 50%;
}

.utilTab li:nth-child(5) a:hover {
    background: #978269 url("../images/icon_naver-w.png") no-repeat 50% 50%;
}


.utilTab span {
    display: block;
    text-align: center;
    font-size: var(--info2p);
    padding: 10px 0;
}

/* footer */
footer {
    height: 330px;
    padding-top: 56px;
    position: relative;
    box-sizing: border-box;
}

.company li {
    float: left;
}

.company li:last-child:after {
    content: none;
}

.company li:nth-child(2) a {
    padding: 0 28px;
}

.company li a {
    font-size: var(--sdate-size);
    font-weight: 600;
    width: 143px;
}

address {
    margin-top: 60px;
    font-size: var(--info2p);
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;
}

address strong {
    font-weight: 700;
}

footer p {
    margin-top: 44px;
    color: #919191;
    font-size: var(--info2p);
    font-family: 'noto-sans';
    font-weight: 400;
}

footer span {
    padding: 0 9px;
}

/* footer logo */
.logo p:first-child img {
    position: absolute;
    top: 85px;
    right: 0;
    width: 105px;
    height: 100px;
}

.logo p:last-child img {
    position: absolute;
    top: 212px;
    right: 0;
    width: 117px;
    height: 86px;
}

.company {
    position: relative;
}